name: Upload file
on:
  push:
    branches:
      - main

jobs:
  upload:
    name: Build And Upload
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Generate files
        run: node scripts/upload.js ${{ secrets.GITHUB_TOKEN }}